header{
    display: flex;
    justify-content: space-between;
    
}

header > img{
    height: 60px;
    width: 90px;
}

header > nav{
    display: flex;
    justify-content: space-between;

}
header > nav> a{
    padding:0 10px

}
header nav > a:link {
    text-decoration: none;
    
    
  
}

header > nav > a:hover{
    text-decoration: underline;
    color: brown;
}

.main{
    display: flex;
    height: 500px;
}

.main > section{
    flex: 4;
    background-color:rgb(37, 75, 151);
}

.main > aside{
    flex: 1;
    background-color: rgb(73, 90, 176);
}

footer{
    height: 80px;   
    background-color: rgb(15, 51, 159);
}



table, td, th {
    border: 1px solid;
    
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th{
    background-color: rgb(209, 173, 163);


  }

  td{
    color: rgb(214, 231, 228);
    padding-top: 20px;
    text-align: center;
  }

  label{
       color: rgb(0, 0, 0);
       font-size: 20px;
       

  }

  input{
    width: 150px;
    
  }

  
  
